
<div class="col-xs-12">
  <div class="content-wrapper" [ngSwitch]="content.type" [ngStyle]="{height: content.type == 'Result' ? '100%' : '72.5vh'}">
    <app-question *ngSwitchCase="'Question'" [question]="content"></app-question>
    <app-result *ngSwitchCase="'Result'" [result]="content"></app-result>
    <app-explanation *ngSwitchCase="'Explanation'" [explanation]="content"></app-explanation>
    <app-video *ngSwitchCase="'Video'" [video]="content"></app-video>
  </div>

  <div class="navbar justify-content-evenly" *ngIf="content.type != 'Result'">
    <app-previous></app-previous>
    <app-next></app-next>
  </div>
</div>
