@import "src/styles/abstracts/mixins";
@include logo_header;
@include corner-styling;

.content-wrapper {
  //padding-left: 1vw;
  height: 70vh;
  margin-bottom: 8vh;
}


@media screen and (max-width: 1200px) {
  .navbar {
    position: center;
  }
}
