<div class="col-xs-12">
  <!--  TODO Navbar component toevoegen (ryan of hicham) -->
  <div class="content-wrapper" [ngSwitch]="getInstance()">
    <app-question *ngSwitchCase="'Question'" [question]="content"></app-question>
    <app-result *ngSwitchCase="'Result'" [result]="content"></app-result>
    <app-explanation *ngSwitchCase="'Explanation'" [explanation]="content"></app-explanation>
    <app-video *ngSwitchCase="'Video'" [video]="content"></app-video>
  </div>

  <div class="navbar justify-content-evenly" *ngIf="getInstance() != 'Result'">
    <app-previous></app-previous>
    <app-next></app-next>
  </div>
</div>
