@import "src/styles/abstracts/variables";



.radiobutton {
  margin-left: 1rem;
  margin-right: 1rem;
}

.list-group-item-text {
  margin-top: 2vh;
  margin-bottom: 8vh;
  align-items: center;
  font-size: 30px;
  display: flex;
  height: 100%;

}

input[type=radio] {
  padding: 0.4em;
  -webkit-appearance: none;
  outline: 0.1em solid;
  outline-offset: 0.15em;
}

input[type=radio]:checked {
  display: inline-block;
  background-color: white;
}

.answer-wrapper{
  padding-left: 6em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-wrap: wrap;
  resize: both;
}
