@import "src/styles/abstracts/variables";

.radiobutton {
  width: 20px;
  height: 20px;
  margin-left: 1rem;
  margin-right: 1rem;
  transform: translateY(0.2vh);
}

.clickable {
  cursor: pointer;
  margin-bottom: 0;
  padding: 0.5em 0;
}

.answerlist {
  width: fit-content;
  cursor: pointer;
  font-size: calc(0.8rem + 0.6vw);
  font-weight: 500;

}

input[type=radio] {
  padding: 0.4em;
  -webkit-appearance: none;
  outline: 0.1em solid;
  outline-offset: 0.15em;
}

@media screen and (max-width: 1200px) {
  input[type=radio] {
    outline-offset: 0.25em;
  }

  .radiobutton {
    transform: translateY(0.3vh);
  }
}

@media screen and (max-width: 768px) {
  .radiobutton {
    transform: translateY(0.4vh);
  }
}

input[type=radio]:checked {
  display: inline-block;
  background-color: white;
}
