@import "src/styles/abstracts/variables";

.radiobutton {
  width: 20px;
  height: 20px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.clickable {
  cursor: pointer;
}

.list-group-item-text {
  margin-top: 2vh;
  margin-bottom: 8vh;
  font-size: 1.5rem;
}

input[type=radio] {
  padding: 0.4em;
  -webkit-appearance: none;
  outline: 0.1em solid;
  outline-offset: 0.15em;
}

input[type=radio]:checked {
  display: inline-block;
  background-color: white;
}
