<div class="d-flex flex-column flex-nowrap">
<h4>{{ "&emsp;".repeat(contentService.getLevel(node)) }}{{ getInstance(node.content) }}:
  <a (click)="updateNode()" routerLink="{{ node.content.id }}" class="btn">{{ node.content.value }} </a>
  <button class="adminButton m-1" (click)="addNode()" *ngIf="!isResult()">+</button>
  <button class="adminButton m-1" (click)="removeNode()"
          *ngIf="(node != this.nodes) && (contentService.getParentNodeByNode(node).content.answers.length != 1)">
    x
  </button>
</h4>
</div>
