* {
  color: black;
}

.adminButton{
  border: none;
  border-radius: 10px;
  padding: 0px 7px;
  background-color: #FAF9F6;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}
.btn:hover{
  border-color: #161616;
}
