<h4>{{ "&emsp;".repeat(contentService.getLevel(node)) }}{{ getInstance(node.content) }}:
  <a (click)="updateNode()" routerLink="{{ node.content.id }}" class="btn">{{ node.content.value }} </a>
  <button (click)="addNode()">+</button>
  <button (click)="removeNode()">x</button>
</h4>
<ol type="A">
<!--  <li *ngFor="let answer of content.answers">Answer: {{answer.value}}-->
<!--&lt;!&ndash;    <app-dashboard-item [content]="content" [contents]="contents"></app-dashboard-item>&ndash;&gt;-->
<!--  </li>-->
</ol>
