<div class="d-flex flex-column flex-nowrap">
<h4>{{ "&emsp;".repeat(contentService.getLevel(node)) }}{{ node.content.type }}:
  <a (click)="updateNode()" routerLink="{{ node.content.id }}" class="btn">{{ node.content.value }} </a>

  <button class="adminButton m-1" (click)="addNode()" *ngIf="node.content.type != 'Result'">+</button>
  <button class="adminButton m-1" (click)="removeNode()"
          *ngIf="(node != this.nodes) && (contentService.getParentNodeByNode(node).content.answers.length != 1)">
    x
  </button>
</h4>
