@import "src/styles/abstracts/mixins";

@include content;
@include corner-styling;

.video-container {
  margin: 4vh auto auto auto;
  position: relative;
  height: 65%;
  width: 80%;
}

.yt_video {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .video-container {
    height: 60%;
  }

}

@media screen and (max-width: 480px) {

  .video-container {
    max-height: 50%;
  }
}
