@import "src/styles/transitions/animations";
@import "src/styles/abstracts/mixins";
@include nav-button;

.nav-button:before{
  content: 'Next';
}


@media screen and (max-width: 600px) {
  .nav-button:before {
    content: '';
  }
}

@media screen and (max-width: 1200px) {
  .nav-button:before {

    content: '';
    font-size: 1rem;



  }

  .nav-button:after {
    height: 6vh;
    content: '';
    position: absolute;
    top: 0;
    //right:vw;
    left: 1vw;
    height: 100%;
    width: 3.5em;
    display: inline-block;
    transition: all 0.2s ease-out;
    background: url(../../../../../assets/images/pijl.png) no-repeat center right;
    background-size: 10vh 4vw;
    //-webkit-transform: scaleX(-1);
    //transform: scaleX(-1);

  }
}
