<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="container-md">
    <app-navbar></app-navbar>
    <div class="col-xl-8 offset-xl-1 main-content align-items-center">
      <div class="col-xs-12">
        <div class="content-wrapper">
          <div class="flex-container content-header corner-styling">
            <div class="start-header-text">Subsidiewijzer</div>
            <div class="start-text">
              <div>Welkom bij de subsidiewijzer van de SVDJ. <br>
                Door middel van deze subsidiewijzer krijgt u een duidelijk beeld over
                welke subsidie u moet aanvragen.
              </div>
            </div>
          </div>
          <div class="start-btn">
            <button routerLink="/content" class="nav-button">Start</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



