<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="container-md">
    <app-navbar>  </app-navbar>
      <div class="text-center">
        <div class="col-8 offset-md-1 main-content align-items-center">
          <div class="col-xs-12">
            <div class="content-wrapper">
              <div class="flex-container">
                <div class="flex-item startDiv">
                  <span class="list-group-item logo-header"></span>
                  <h1>Wilt u de vragenlijst afnemen om uit te vinden welk subsidie bij u hoort?
                    <br>
                    Druk dan op de <strong>start</strong> knop hieronder!
                  </h1>
                  <button routerLink="/content" class="nav-button">Start</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>



