<div class="col-12">

  <div class="list-group-item id-wrapper">
    <h4 class="id-text">Vraag: {{ question.getId() }}</h4>
  </div>

  <div class="question-wrapper">
    <p class="question-text">{{ question.getValue() }}</p>
  </div>
  <div class="answer-wrapper">
    <app-answer-list [answers]="question.getAnswer()"
                     [selectedAnswer]="navigationService.getSelected()"
                     (selectedAnswerEvent)="navigationService.setSelected($event)"></app-answer-list>
  </div>

</div>
