.list-group-item{
  background: transparent;
  border: none;
}

.list-group-item-heading::before{
  font-size: 50px;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 5px;
  width: 40%;
  border-top: 5px solid #fff;
}
.list-group-item-heading::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 27%;
  width: 10%;
  border-left: 5px solid #fff;
}



