@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/placeholders";
@import "base/reset";
@import "base/typography";

* {
  color: white;
  font-family: Arial, serif;
  letter-spacing: 0.05rem;
  overflow: hidden;
}

body {
  background-image: url("../assets/images/background.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  min-height: 100vh;
  max-height: 100vh;
}




