@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/placeholders";
@import "base/reset";
@import "base/typography";

* {
  color: white;
  font-family: Arial, serif;
  letter-spacing: 0.05rem;
}

body {
  background-image: url("../assets/images/background.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
