<div *ngIf="contents != null && content.type != 'Result'">
  <p>Ga naar</p>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle"
            type="button" id="dropdownMenuButton"
            data-bs-target="#dropdown"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
      {{selectedContentValue}}
    </button>
    <div id="dropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <div *ngFor="let dropdown_content of contents">
        <div *ngIf="dropdown_content.id != content.id">
          <a class="dropdown-item" (click)="onSelected(dropdown_content)">{{dropdown_content.value}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
