<html>
  <head>

  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Vragen</a>
        </li>
      </ul>
    </div>
  </nav>
  <div *ngFor="let content of contentArray" >
    <p *ngIf="content.type == 'Result'">{{content.value}}</p>
    <p *ngIf="content.type != 'Result'">{{content.value}}</p>
  </div>
  </body>
</html>
