<app-header></app-header>

<div class="col-ms-6 ">
  <div class="background d-flex justify-content-evenly myBckgrnd">
    <div class="scroll-div contents d-flex flex-column p-1">
      <div class="row" *ngFor="let node of updateNodeArray(nodes), index as i" >
        <div class="col-ms-5">
          <app-dashboard-content [nodes]="nodes" [node]="node"></app-dashboard-content>
        </div>
      </div>
      <div class="align-self-center flex-nowrap">
        <button class="btn btn-dark " (click)="save()">Opslaan</button>
      </div>
    </div>

    <div class="scroll-div results">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


