@import "src/styles/abstracts/variables";
@import "src/styles/abstracts/mixins";

@include btn-mid;

.btn-mid{
  color: #000;
}

.content-container {
  display: flex !important;
  justify-content: space-evenly !important;
}

.left-side {
  height: 70vh;
  //display: flex;
  //flex-direction: column;
  padding: 3em !important;
  overflow-y: auto;
  overflow-x: hidden;
}

.scroll-div {
  //overflow-y: auto;
  width: 50vw;
}

.scroll-div::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(0, 0, 0, 0.49);
  border-radius: 10px;
}

.scroll-div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  background-color: #ffffff;
}

.scroll-div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 0%);
  border-radius: 10px;
}


.background {
  height: 100vh;
  //background-color: rgba(0, 0, 0, 0.1);
  //color: #fff;

}

.results {
  height: 100vh;
  padding: 3em;
}

.control-buttons button {
  width: 100px;
}

