@import "src/styles/abstracts/variables";
.scroll-div {

  overflow-y: scroll;
  width: 50vw;
}


.background {
  height: 100vh;
  background-color: white;
}

.contents {
  height: 92.5vh;

}

.results {
  height: 75vh;
}

.control-buttons button {
  width: 100px;
}

.myBckgrnd{
  background-color: #f8f8ff!important;
}
