.pull-left{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
  justify-content: flex-start;
}
.radiobutton{
  margin: 1rem;
}
.list-group-item-text{
  margin-top: 1rem;
  align-items: center;
}
.list-group-item-heading{
  margin: 1rem;
}
