<h1 class="content-header corner-styling">{{ explanation.value }}</h1>
<div class="explanation-wrapper">
  <p>{{ explanation.answers[0].value }} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum dolor
    vel nisl tincidunt mollis. Vivamus vitae nibh purus. Mauris erat risus, condimentum id venenatis et, consequat sed
    libero. In ac ligula lobortis augue mattis porttitor. Vestibulum pharetra ipsum vel consequat pharetra. Aliquam
    lectus eros, imperdiet sit amet dolor id, gravida rhoncus magna. Vivamus tristique aliquam fringilla. Proin
    convallis elit at tempus venenatis. Sed cursus, nunc congue tempor vehicula, magna sem imperdiet justo, non posuere
    risus nunc tempus urna. Nam risus felis, sodales ac aliquet sit amet, hendrerit vel metus. Donec risus turpis,
    suscipit vel condimentum a, scelerisque quis purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum dolor
    vel nisl tincidunt mollis. Vivamus vitae nibh purus. Mauris erat risus, condimentum id venenatis et, consequat sed
    libero. In ac ligula lobortis augue mattis porttitor. Vestibulum pharetra ipsum vel consequat pharetra. Aliquam
    lectus eros, imperdiet sit amet dolor id, gravida rhoncus magna. Vivamus tristique aliquam fringilla. Proin
    convallis elit at tempus venenatis. Sed cursus, nunc congue tempor vehicula, magna sem imperdiet justo, non posuere
    risus nunc tempus urna. Nam risus felis, sodales ac aliquet sit amet, hendrerit vel metus. Donec risus turpis,
    suscipit vel condimentum a, scelerisque quis purus. </p>
</div>
