@import "src/styles/abstracts/mixins";

@include content;
@include corner-styling;
@include nav-button;

.underline {
  text-decoration-thickness: 0.08em;
}

a {
  color: white;
  font-weight: bold;
}

.content-header{
  padding-right: calc(5% + 0.4vw);
}

.nav-button {
  width: 50%;
}

.nav-button:before {
  content: 'Download resultaat';
}
 .result-layout{
   margin-bottom: calc(5% + 2vw);
 }

.result-wrapper {
  height: 100%;
  padding: calc(4% + 0.4vh) calc(5% + 0.4vw);
  font-size: calc(1rem + .2vw);
}

@media screen and (max-width: 768px) {
  .navbar {
    row-gap: 1vh;
    flex-direction: column;
  }

  .nav-button {
    width: 80%;
  }

  .nav-button:after {
    right: 3vw;
    width: 2.5em;
  }
}
