@import "src/styles/abstracts/mixins";

@include content;
@include corner-styling;
@include nav-button;

.underline {
  text-decoration-thickness: 0.08em;
}

a {
  color: white;
  font-weight: bold;
}

.content-header{
  padding-right: calc(5% + 0.4vw);
}

.nav-button {
  width: 50%;
}

.nav-button:before {
  content: 'Download resultaat';
}
 .result-layout{
   margin-bottom: calc(5% + 2vw);
 }

.result-wrapper {
  height: 100%;
  padding: calc(4% + 0.4vh) calc(5% + 0.4vw);
  font-size: calc(1rem + .2vw);
}

//@media screen and (max-width: 480px) {
//  .nav-button {
//    width: 100%;
//  }
//}

@media screen and (max-width: 768px) {
  .navbar {
    row-gap: 1vh;
    flex-direction: column;
  }

  .nav-button {
    width: 80%;
  }

  .nav-button:after {
    right: 1vw;
  }
}

//
//.svdjbutton {
//  font-size: 1.25rem;
//  line-height: 1.2;
//  font-weight: 600;
//  letter-spacing: 1.5px;
//  background-color: #fff;
//  color: #000;
//  border: 1px solid #000;
//  padding: 1em 6em 1em 2em;
//  position: relative;
//  overflow: hidden;
//  transition: all .5s;
//  box-shadow: none;
//  text-align: left;
//  border-radius: 0;
//
//  display: inline-block;
//  text-decoration: none;
//  overflow-wrap: break-word;
//  box-sizing: border-box;
//}
//
//.svdjbutton::after {
//  content: '';
//  position: absolute;
//  top: 0;
//  right: 2em;
//  height: 100%;
//  width: 3.5em;
//  display: inline-block;
//  transition: all .2s ease-out;
//  background: url(../../../../../src/assets/images/streep-black.png) no-repeat center right;
//  vertical-align: middle;
//  margin-left: 1.5em;
//}
//
//.svdjbutton:hover {
//  text-decoration: none;
//  background: black;
//  color: white;
//
//}
//
//.svdjbutton:hover::after {
//  background-image: url(../../../../../src/assets/images/streep-white.png)
//}
