@import "src/styles/abstracts/variables";
@import "src/styles/abstracts/mixins";
@include btn-mid;
*{
  overflow: visible !important;
}

.myColor{
  color: #FFFFFF;
}

.myMargin{
  margin-left: 2.4rem !important;
}

.myUl {
  list-style: none;
}

