<form class="myNiceForm mt-2">
  <div class="form-group">
    <ul   class="myColor mySize myUl">
      <li class="myColor p-1" ><b class="text-black">Waarde:</b>
        <input #value  required type="text" class="form-control"  value="{{node.content.value}}"></li>
    </ul>

  </div>
  <div class="form-group">
    <h3 class="text-black">Antwoorden:</h3>
    <ol class="mySize"  type="A">
      <li *ngFor="let answer of node.content.answers, index as i" class="myColor" >
        <input required id="answer{{i}}" type="text" class="form-control mySize" value="{{answer.value}}"></li>
    </ol>
    <button type="button" class="btn btn-primary ml-3" (click)="onUpdate(value.value)">Update</button>
  </div>

</form>
